#game-hud {
    position: absolute;
    height: 100vh;
    width: 100vw;

    background: transparent;
    pointer-events: none;

    header {
        pointer-events: all;
        background: orangered;
        height: 20px;

        &:hover{
            background: yellowgreen;
        }
    }
}
