.casting {
    &__actors {
        display: flex;
        height: calc(100% - 45px);
        column-gap: 10px;

        &-list {
            width: 30%;
        }

        &-details {
            width: 70%;
            overflow: auto;
        }
    }
}
