.cell {
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
    }

    &__content {
        &-sibling {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            display: inline-flex;
            width: 50%;
        }

        &-full {
            margin: 10px 0;
        }
    }

    &-selected{
        background: crimson;
    }

    &:hover{
    }
}
