.eventNode {
    cursor: pointer;

    &__addParentCopy,
    &__addChild,
    &__editNode,
    &__removeNode {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        color: white;
        cursor: pointer;
    }

    &.focused {
        stroke: white;
        stroke-width: 1px;

        .eventNode__addParentCopy,
        .eventNode__addChild,
        .eventNode__editNode,
        .eventNode__removeNode {
            opacity: 1;
            visibility: visible;
        }
    }
}

.controls {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
