.modifier-editor {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        row-gap: 10px;
        column-gap: 10px;
    }

    &__select-type {
        height: 4rem;
    }
}
