.resources {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__file {
        padding: 20px;
        width: 200px;
        height: 250px;

        &-name {
            font-size: 24px;
        }

        &-folder,
        &-file {
            svg {
                width: 200px;
                height: 200px;
            }
        }

        &-image {
            img {
                width: 100%;
            }
        }

        &.selected {
            border: 1px solid black;
        }
    }
}
