.selection-modal {
    &__wrapper {
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 50%;
        border: 2px solid #000;
        padding: 2rem;
        display: flex;
        align-items: center;
    }

    &__selection {
        height: 80%;
        overflow: auto;
        border: 1px solid black;
        padding: 10px;

        &-primary {
            width: 40%;
        }

        &-secondary {
            width: 60%;
        }
    }
}
