.utils {
    &__full-height {
        height: 100%;
    }

    &__full-width-absolute-child {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__contain-image {
        object-fit: contain;
    }
}
