.newtrait {
  background: #fae5df;
  height: 100vh;
  width: 100vw;
  width: 90%;
  padding: 2.5%;
  margin: auto;
  overflow: auto;

  &__header {
    display: flex;
    align-items: center;
  }

  &__form{

  }
}
