.new-event {
    background: #fae5df;
    height: 100vh;
    width: 100vw;
    padding: 2.5%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
    }

    &__content {
        overflow: hidden;
    }

    &__flow {
    }

    &__submit-wrapper {
        margin-top: auto;
    }
}
