#effect-and-condition-wrapper {
    .instruction {
        font-size: 13px;
        color: gray;
        padding: 0 10% 20px;
        display: block;
    }

    .effect-list-wrapper {
        display: flex;
        background: gray;
        height: 72px;

        .effects-list {
            flex: 1;
            display: flex;
            width: 100%;
            overflow: auto;
            background: crimson;
            padding: 0;

            li {
                min-width: 300px;
            }
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}
